
//colors Balck to dark grays
$black: #000;
$eerie-black: #17181a;
$eerie-black-2: #1b1d23;
$baltic-sea: #262830;
$mine-shaft: #2e2f33;
$outer-space: #2f313b;
$river-bed: #444b5a;
$ship-gray: #383c49;
$storm-gray: #65718a;
$black-coral-pearl: #525b6d;
$black-coral-pearl-2: #505873;
$mountain-mist: #969696;

// White to light Grays
$white: #fff;
$gray1: #eff3ff;
$zumthor: #eef3ff;
$titan-white: #e5ecff;

// blue shades
$azure-radiance: #0084ff;
$shadow-blue: #7a8aac;
$polo-blue: #8b9dc8;
$siteBar: #7B8AAD;
$melrose: #b2c7ff;
$pattens-blue: #e1ebfe;

//purple shades
$electric-violet: #a021e9;

//Metanbanq Green colors
$chateau-green: #32a358;

//Metanbanq yellow colors
$Amber:#F39E2F;

//Metanbanq Red shades colors
$cinnabar: #e93c2d;

//Metanbanq Pink shades colors
$pink: #D50091;






