//import colors
@import '../abstracts/colors';

//@use  '../custom' as custom;
@use '../custom' as *;
@use '../components/mixin' as *;

.btn{
    font-family: $font-family-roboto;
}
.btn-primary{
    color:$gray-100;
    background-color:$blue;
}
.btn-primary{
background-color:$blue-dark;
}